<%- include('include/header.ejs') %>
<%- include('include/top_menu.ejs') %>
<%- include('include/side_menu.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  &nbsp;
  

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><b>List of farmers in the system</b></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>DATE</th>
                  <th>Farmer ID</th>
                  <th>Name</th>
                  <th>MOBILE</th>
                  <th>HOUSEHOLD.ID</th>
                  <th>COURSE</th>
                  <th>MODE</th>
                  <th>GROUP</th>
                  <th>STATION</th>
                  <th>BY</th>
                  <th>LONG</th>
                  <th>LAT</th>
                </tr>
                </thead>
                <tbody>
                  <% if (farmers.length > 0){ 
                    let n = 1
                    for (let farmer of farmers){ 
                      let d = farmer.idate;
                      var datestring = ("0" + d.getDate()).slice(-2) + "-" + 
                      ("0"+(d.getMonth()+1)).slice(-2) + "-" + d.getFullYear();
                  %>
                      
                  <tr>
                    <td><%= n %> </td>
                    <td><%= datestring %></td>
                    <td><%= farmer.farmerid %> </td>
                    <td><%= farmer.fname %> </td>
                    <td><%= farmer.phone %></td>
                    <td><%= farmer.householdid %> </td>
                    <td><%= farmer.ID_COURSE %> </td>
                    <td><%= farmer.evaluation_mode %></td>
                    <td><%= farmer.ID_GROUP %></td>
                    <td><%= farmer.sname %></td>
                    <td><%= farmer.so %></td>
                    <td><%= farmer.longitude %></td>
                    <td><%= farmer.latitude %></td>
                    
                  </tr>
                  <% n++;}}else{ %>
                  <tr>
                    <td colspan="5"> No Data</td>
                  </tr>
                  <% } %>
                </tbody>
               
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('include/footer.ejs') %>